**/iexec_in
**/iexec_out

./ups-package-tracker/smart-contract/build
./ups-package-tracker/smart-contract/daemon/node_modules
ups-package-tracker/smart-contract/node_modules
ups-package-tracker/app/node_modules